html,
body{
    height:100%;
}

.search{
    background-color: #e9f3f7;
}

.uv-low{
    background-color: green;
    color:black;
}

.uv-mod{
    background-color: yellow;
    color: black;
}

.uv-high{
    background-color: orange;
    color: black;
}

.uv-veryhigh{
    background-color: red;
    color: white;
}

.uv-extreme{
    background-color:purple;
    color: yellow;
}

.forecast{
    background-color: #b5daff;
    color: black;
}


.searchList{
    background-color: #fff2ff;
}
